{% extends "polls/base.html" %}
{% block title %}List of Polls{% endblock %}
{% block content %}
    <h1>List of Polls</h1>
	{% if latest_poll_list %}
	    <table class="table table-hover " border="0" align="left"  cellpadding="1" cellspacing="1"  width="70%"> 
	    {% for poll in latest_poll_list %}
	      <tr>
	        <!-- <li><a href="/polls/{{ poll.id }}/">{{ poll.question }}</a></li> -->

	        <td>  
	        	{{forloop.counter}}&nbsp; &nbsp; &nbsp;<a href="{% url 'polls:results' poll.id %}">{{ poll.question }}</a>
	        </td>
          </tr>
	    {% endfor %}
	    </table>
	{% else %}
	    <p>No polls are available.</p>
	{% endif %}
{% endblock %} 