{% extends "polls/base.html" %}
{% block content %}
    <a style="padding-left:1000px;" href="{% url 'polls:polls_created_by_me' %}">Polls Created by me</a>
    <h1>List of Polls</h1>
	{% if latest_poll_list %}
	    <table border="0" align="left"  cellpadding="1" cellspacing="1"  width="70%"> 
	    {% for poll in latest_poll_list %}
	      <tr>
	        <!-- <li><a href="/polls/{{ poll.id }}/">{{ poll.question }}</a></li> -->

	        <td>  
	        	{{forloop.counter}}&nbsp; &nbsp; &nbsp;<a href="{% url 'polls:detail' poll.id %}">{{ poll.question }}</a>
	        </td>
          </tr>
	    {% endfor %}
	    </table>
	{% else %}
	    <p>No polls are available.</p>
	{% endif %}

{% endblock %} 